{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <title>{% block title %}Blog Post{% endblock title %}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
    </head>
  
    <body>
        <div class="container">
          <header>
            <nav>
              <div class="logo">
                <a class="navbrand" href="/">
                  <img src="{% static "images/logo.jpg" %}" height="80" width="250" alt="Website-logo">
                </a>
              </div>
              <ul>
                <li><a href="{% url 'post_list' %}">Blog</a></li>
                <li><a href="{% url 'post_new' %}">Post</a></li>
                <li><a href="#">Tweet</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' username=request.user %}">Profile</a></li>
                
                {% endif %}
              </ul>
              <a class="mobile" href="#"><i class="fa-solid fa-bars"></i></a>
            </nav>
          </header>
          {% block content %}
          {% endblock %}
        </div>

      <script src="{% static 'app.js' %}"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
      
    </body>
</html>