{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<article class='post'>
  <aside class="actions">
    {% if user.is_authenticated and request.user == post.user %}
    <button type="button" class="edit-post"><a class = "edit" href="{% url 'post_edit' pk=post.pk %}">

        {% include './icons/pencil-fill.svg' %}
      Edit</a>
    </button>
    <button type="button" class="delete-post"><a class="delete" href="{% url 'post_delete' pk=post.pk %}">
      <i class="fa-solid fa-xmark"></i> Delete</a>
    </button>
    {% endif %}
  </aside>
  <h2>{{ post.title }}</h2>
  <p>By: {{post.user}} | {{post.published_date}}</p>
  <hr>
  {% if post.image %}
  <img class="image" src='{{post.image.url}}'>
  {% endif %}
  <br>
  
  <p>{{post.text|safe}}</p>
  <br>
  {% for tag in post.tag.all %}
  <a href="#">#{{ tag.name }}</a>
  {% endfor %}
  
</article>

<div id="comment-section">
  <button class="post-comment-button" type="button"><a class="add-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">
    <i class="fa-solid fa-comment"></i>
     Add comment</a></button>
  <br><br>
  {% for comment in post.comments.all reversed %}
  <strong>{{comment.user}} -
        {{comment.created_date}}
  </strong>
  <br>
  <p>{{comment.text|linebreaksbr}}</p>
  <br>
{% empty %}
<p>No comments here yet :(</p>
{% endfor %}
</div>


{% endblock %}
