{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<br><br>
  {% for post in posts reversed %}
  <article class="post">
      <div class="blog-container">
        <div>
          <p class="title">
            <a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}
            </a>
          </p>
          <a href="{% url 'post_detail' pk=post.pk %}">
          <img id="blog-image" src="{{post.image.url}}">
          </a>
        </div>
        <div>
          
          <a class="user" href="{% url 'profile' username=post.user.username %}">{{post.user}}</a> | {{post.published_date}}
          <p>{{post.text | truncatewords:25|safe}}</p>
        {% for tag in post.tag.all %}
          <a class="tag" href="#">#{{tag.name}}</a>
        {% endfor %}
          <a class="comment" href="{% url 'post_detail' pk=post.pk %}#comment-section"> | Comments: {{post.comments.count}}</a>
        </div>
      </div>
    <br><br>
  {% endfor %}
  </article>

{% endblock %}