{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<article class='post'>
  <aside class="actions">
    {% if user.is_authenticated and request.user == post.user %}
    <button type="button" class="btn-secondary"><a class="edit" href="{% url 'post_edit' pk=post.pk %}">

        {% include './icons/pencil-fill.svg' %}
      Edit</a>
    </button>
    <button type="button" class="btn-secondary"><a class="delete" href="#">
      <i class="fa-solid fa-xmark"></i> Delete</a>
    </button>
    {% endif %}
  </aside>
  <h2>{{ post.title }}</h2>
  <p>By: {{post.user}} | {{post.published_date}}</p>
  <hr>
  {% if post.image %}
  <img src='{{post.image.url}}' height="350" width="450">
  {% endif %}
  <br>
  {% for tag in post.tag.all %}
  <a href="#">#{{ tag.name }}</a>
  {% endfor %}
  
  <br>
  <p>{{post.text|safe}}</p>
</article>

<br>
<hr>
<div id="comment-section">
  <button class="btn-secondary" type="button"><a class="add-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">
    <i class="fa-solid fa-comment"></i>
     Add comment</a></button>
  <br><br>
  {% for comment in post.comments.all reversed %}
  <div>
    <strong>{{comment.user}} -
          {{comment.created_date}}
    </strong>
    <br>
    <p>{{comment.text|linebreaksbr}}</p>
    <br>
  </div>
  {% empty %}
  <p>No comments here yet :(</p>
  {% endfor %}
</div>

<br>
<br>

{% endblock %}
