{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="profile">
  <div class="profile-page">
    <div class="profile-top">
      <img class="rounded-circle" alt="profile-image" src="{{profile.image.url}}" width="100">
      <p class="user-id">@{{profile.user}}</p>
    </div>
    <div class="profile-middle">
      {% if profile.user == request.user %}
      <a href="{% url 'edit_profile' username=request.user.username %}">
        <button>Edit Profile</button>
      </a>
      {% endif %}
      {% if profile.user != request.user %}
      <form method="POST" action="{% url 'profile' %}">
        {% csrf_token %}
        <input type="hidden" name="profile_id" value="{{ profile.id }}">
        <button type="submit">Follow</button>
      </form>
      {% endif %}
    </div>
    <div class="profile-bottom">
      {% if profile.name %}
      <h5>{{profile.name}}</h5>
      {% endif %}
      <p>{{ profile.bio|safe }}</p>
    </div>
    <br><br>
  </div>
  
  <div class="tab-container">
    <input id="tab-posts" type="radio" name="user-post" checked="checked">
    <label for="tab-posts">Posts</label>
    <div class="content">
      <h2>Posts</h2>
      <div class="user-post">
        {% for post in posts reversed %}
        <div class="user-blog">
          <h1>
            <a href="{{post.get_absolute_url}}">
            {{post.title}}
            </a>
          </h1>
          <img class="image" src="{{post.image.url}}">
          <hr>
          {% for tag in post.tag.all %}
          <a href="#">#{{ tag.title }}</a>
          {% endfor %}
          <a href="{{post.get_absolute_url}}#comment-section"> | Comments: {{post.comments.count}}</a>
          <span> | likes: {{post.total_likes}}</span>
        </div>
        {% endfor %}
      </div>
    </div>
    <input id="tab-group" type="radio" name="user-post">
    <label for="tab-group">Group</label>
    <div class="content">
      <h2>Group</h2>
      {% for group in groups %}
      <h5>
        <a href="{{group.get_absolute_url}}">{{group.title}}</a>
      </h5>
      <br>
      {% endfor %}
      
    </div>
    <input id="tab-contact-info" type="radio" name="user-post">
    <label for="tab-contact-info">Contact Info</label>
    <div class="content">
      <h2>Contact info</h2>
    </div>
  </div>
</div>
{% endblock %}