{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="profile">
  <div class="profile-page">
    <div class="profile-top">
      <img class="rounded-circle" alt="profile-image" src="{{profile.image.url}}" width="100">
      <p>@{{profile.user}}</p>
    </div>
    <div class="profile-middle">
      {% if profile.user == request.user %}
      <a href="{% url 'edit_profile' username=request.user.username %}">
        <button>Edit Profile</button>
      </a>
      {% endif %}
      <button>Follow</button>
      <button>Chat</button>
    </div>
    <div class="profile-bottom">
      {% if profile.name %}
      <h5>{{profile.name}}</h5>
      {% endif %}
      <p>{{ profile.bio|safe }}</p>
    </div>
    <br><br>
  </div>
  <h3>Posts:</h3>
  <div class="user-post">
    {% for post in posts reversed %}
    <div class="user-blog">
      <h1>
        <a href="{{post.get_absolute_url}}">
        {{post.title}}
        </a>
      </h1>
      <img class="image" src="{{post.image.url}}">
      <hr>
      {% for tag in post.tag.all %}
      <a href="#">#{{ tag.name }}</a>
      {% endfor %}
      <a href="{{post.get_absolute_url}}#comment-section"> | Comments:{{post.comments.count}}</a>
      
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}