.body{
  width:100%;
}
.container{
  width:80%;
  margin:0 auto;
}

nav{
  float:right;
}
header{
  background:#5a7ea0;
}
.navbar ul{
  list-style:none;
  padding:0px;
  margin:0px;
}
.navbar a{
  text-decoration:none;
  color:#444;
  text-transform:uppercase;
}
.navbar a:hover{
  color:#000;
}
.navbar li{
  display:inline-block;
  margin-left:50px;
  padding-top:25px;
}
.post .title, .tag, .comment{
  text-decoration:none;
  color:#0042ff;
}
.post .user{
  text-decoration:none;
}
.post, .edit, .delete, #comment-section .add-comment{
  text-decoration:none;
  color:#000;
}

.d-flex{
  float:right;
  margin-left:30px;
  padding:10px;
}
.profile-post-tag{
  text-decoration:none;
  margin:5px;
  display:flex;
}
.edit-post, .delete-post{
  background-color:#7e98a5;
  text-decoration:none;
  color:black;
  height:50px;
  border:none;
  border-radius:5px;
  float:right;
  margin:8px;
  transition:opacity 0.15s;
}
.edit-post:hover, .delete-post:hover{
  opacity:0.8;
}
.post-comment-button{
  background-color:#7e98a5;
  text-decoration:none;
  color:black;
  height:50px;
  border:none;
  border-radius:20px;
  margin:8px;
  box-shadow:10px 10px 10px rgba(0,0,0,0.15);
}
